<div class="hero has-hero-img">
  <%= img "/images/background-1.jpg", :class => "hero-img", :alt => "" %>
</div>

<div class="big-tiles">
  <div class="big-tile">
    <%= img "/images/barn-talks.jpg", :alt => "" %>
    <a class="big-tile-link" href="/"><span class="big-tile-text">Barn Talks</span></a>
  </div>

  <div class="big-tile">
    <%= img "/images/conf.jpg", :alt => "" %>
    <a class="big-tile-link" href="/"><span class="big-tile-text">Conf</span></a>
  </div>

  <div class="big-tile">
    <%= img "/images/publishing.jpg", :alt => "" %>
    <a class="big-tile-link" href="/"><span class="big-tile-text">Publishing <em>Coming Soon</em></span></a>
  </div>

  <div class="big-tile">
    <%= img "/images/broadcast.jpg", :alt => "" %>
    <a class="big-tile-link" href="/"><span class="big-tile-text">Broadcast</span></a>
  </div>

  <div class="big-tile">
    <%= img "/images/conf.jpg", :alt => "" %>
    <a class="big-tile-link" href="/"><span class="big-tile-text">All Attack No Hold Back <em>Coming Soon</em></span></a>
  </div>

  <div class="big-tile no-image">
    <div class="big-tile-text">
      <p>The Farmhouse is an umbrella for several projects. Some are done in-house. Some are made by friends of The Farmhouse.</p>
      <p>There might not seem like there's much method to our madness, but there definitely is. And we're always thinking up something new and exciting.</p>
    </div>
  </div>
</div>
