<div class="hero has-hero-img">
  <%= img "/images/background-1.jpg", :class => "hero-img", :alt => "" %>
  <div class="hero-text">
    <p>We like to do stuff and make things</p>
  </div>
</div>

<div class="tiles-big">
  <div class="tile">
    <%= img "/images/barn-talks.jpg", :alt => "" %>
    <a class="tile-link" href="/"><span class="tile-text">Barn Talks</span></a>
  </div>

  <div class="tile">
    <%= img "/images/conf.jpg", :alt => "" %>
    <a class="tile-link" href="/"><span class="tile-text">Conf</span></a>
  </div>

  <div class="tile">
    <%= img "/images/publishing.jpg", :alt => "" %>
    <a class="tile-link" href="/"><span class="tile-text">Publishing <em>Coming Soon</em></span></a>
  </div>

  <div class="tile">
    <%= img "/images/broadcast.jpg", :alt => "" %>
    <a class="tile-link" href="/"><span class="tile-text">Broadcast</span></a>
  </div>

  <div class="tile">
    <%= img "/images/conf.jpg", :alt => "" %>
    <a class="tile-link" href="/"><span class="tile-text">All Attack No Hold Back <em>Coming Soon</em></span></a>
  </div>

  <div class="tile no-image">
    <div class="tile-text">
      <p>The Farmhouse is an umbrella for several projects. Some are done in-house. Some are made by friends of The Farmhouse.</p>
      <p>There might not seem like there's much method to our madness, but there definitely is. And we're always thinking up something new and exciting.</p>
    </div>
  </div>
</div>

<div class="friends-projects l-container">
  <h2 class="heading-alt">Friends of the Farmhouse</h2>
  <div class="tiles-small">

    <div class="tile">
      <%= img "/images/mux.jpg", :alt => "" %>
      <a class="tile-link" href="/"><span class="tile-text">Mux</span></a>
    </div>

    <div class="tile">
      <%= img "/images/heyheyok.jpg", :alt => "" %>
      <a class="tile-link" href="/"><span class="tile-text">Hey Hey OK</span></a>
    </div>

    <div class="tile">
      <%= img "/images/upness.jpg", :alt => "" %>
      <a class="tile-link" href="/"><span class="tile-text">Upness</span></a>
    </div>

    <div class="tile">
      <%= img "/images/open-source-offsets.jpg", :alt => "" %>
      <a class="tile-link" href="/"><span class="tile-text">Open Source Offsets</span></a>
    </div>

    <div class="tile">
      <%= img "/images/pure-luck.jpg", :alt => "" %>
      <a class="tile-link" href="/"><span class="tile-text">Pure Luck</span></a>
    </div>

    <div class="tile">
      <%= img "/images/oxford-house.jpg", :alt => "" %>
      <a class="tile-link" href="/"><span class="tile-text">Oxford House</span></a>
    </div>

  </div>
</div>
